h1 {

    color: blue;
    background-color: yellow;
    margin: 10px;
    text-align: center;
    text-align: center;
    border-style: solid;
    border-color: rgb(68, 29, 173);
    border-width: 1px;
}

p{

    color: blue;
    font-size: 22px;
}

strong{

    color: red;
}