p {
text-align: center;
background-color: yellow;
color: red;


}

h1 {

    color: red;
    background-color: yellow;
}
h2 {

    color: red;
    background-color: yellow;
}
h3 {

    color: red;
    background-color: yellow;
}
h4 {

    color: red;
    background-color: yellow;
}
h5 {

    color: red;
    background-color: yellow;
}
