*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-family: cursive;
}

video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

main{
    width: 100%;
    color: white;
    padding: 20px;
}

.navigation{
    width: 1260px;
    margin: 30px;
    background-color: aquamarine;
}
.navigation ul{
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px;
    color: blueviolet;
    font-family: cursive;
    text-decoration: none;
}
.menu li a:hover{
    color: deeppink;
    background-color: rgb(220, 166, 252);
}

.submenu{
    position: absolute;
    background-color: rgb(105, 255, 185);
    width: 174px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: indigo;
    font-family: cursive;
    text-decoration: none;
}
.menu li:hover .submenu{
    display: block;
    visibility: visible;
    opacity: 1;
}

.submenu1{
    position: absolute;
    background-color: rgb(105, 255, 185);
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.submenu1 li a{
    display: block;
    padding: 15px;
    color: indigo;
    font-family: cursive;
    text-decoration: none;
}
.menu li:hover .submenu1{
    display: block;
    visibility: visible;
    opacity: 1;
}


.submenu0{
    position: absolute;
    background-color: rgb(105, 255, 185);
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}